body {
    background: linear-gradient(45deg, #F6EFE9, #FFFF);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 1280px;
    top: 90px;
    left: 320px;
    border-radius: 5px;
    background: #2f3640;
    padding: 2px;
}

.search-txt {
    display: block;
    width: 99%;
    background: #F6EFE9;
}

.wrap {
    margin: 0 auto;
    max-width: 1140px;
}

.header {
    background-color: #F6EFE9;
    min-height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin: 15px;
}


.naming {
    font-family: 'Anybody', sans-serif;
    height: 50px;
    width: 350px;
    margin-bottom: 10px;
    position: absolute;
}

.under-naming {
    position: relative;
    top: 30px;
    left: -5px;
    font-family: 'Anybody', sans-serif;
}

.main {
    background-image: url("logos/Zadnik.png");
}

.categories-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories-item {
    text-decoration: none;
    position: relative;
    margin: 20px;
    width: 360px;
    height: 260px;
    background-color: #C4C4C4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categories-text {
    color: #2f3640;
    font-family: 'Anybody', sans-serif;
}

.categories-title {
    color: #222224;
    font-family: 'Anybody', sans-serif;
}

.all_tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
