@model SocialGatherKuznetsov.Models.Card
@{
    ViewData["Title"] = "Главная";
}

<div class="search-box wrap">
    <input class="search-txt" type="text" name="" placeholder="Введите название события...">
</div>
<div class="wrap">
    <div class="categories-wrap">

        <a href="#" class="categories-item categories-first">
            <h3 class="categories-title">
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
        </dd></h3>
        <p class="categories-text"><dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Text)
        </dd></p>
            <p class="members">0/0</p>
            <p class="tags">tag</p>
        </a>

        <a href="#" class="categories-item categories-second">
            <h3 class="categories-title">Название 2</h3>
            <p class="categories-text">Описание 2</p>
            <p class="members">0/0</p>
            <p class="tags">tag</p>
        </a>

        <a href="#" class="categories-item categories-second">
            <h3 class="categories-title">Название 2</h3>
            <p class="categories-text">Описание 2</p>
            <p class="members">0/0</p>
            <p class="tags">tag</p>
        </a>
    </div>
</div>
