<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <script src="https://kit.fontawesome.com/b8991598b2.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anybody:wght@100;200;300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header class="header">
        <div class="wrap header-wrap">
            <a href="/Home/Index" />
            <h1 class="naming">Social Gather</h1>
            <p class="under-naming">Поиск сообществ по интересам</p>
            </a>
            <a href="#">
                <img src="~/logos/Poisk.png" width="100px" height="45px" alt="logo" class="header-logo">
            </a>
            <a href="/RegistreationDatas/CreateCard">
                <img src="~/logos/sozdat.png" width="100px" height="45px" alt="logo" class="header-logo">
            </a>
            <a href="/Home/Chats">
                <img src="~/logos/Chat.png" width="100px" height="45px" alt="logo" class="header-logo">
            </a>
            <a href="/Home/Contacts">
                <img src="~/logos/O nas.png" width="100px" height="45px" alt="logo" class="header-logo">
            </a>
            <a href="/RegistreationDatas/MyProfile">
                <img src="~/logos/profile.png" width="175px" height="45px" alt="logo" class="header-logo">
            </a>
        </div>
    </header>
    <main>

        @RenderBody()

    </main>

</body>
</html>